#Perfil {
  text-align: center;
  padding: 24px;

  & img {
    border-width: 4px;
    border-style: solid;
    border-color: rgba(146, 146, 146, 0.8);
    width: 112px;
    height: 112px;
    object-fit: cover;
    border-radius: 50%;
  }

  & p {
    font-weight: bold;
    line-height: 24px;
    margin-top: 8px;
  }
}

.perfil {
  display: flex;
  align-items: center;
}

.perfil-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.perfil-name {
  font-size: 1.2em;
}
